{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Listado clientes - {{tienda.nombre}}{% endblock %}

{% block stylesheets %}        
    <link rel="stylesheet" type="text/css" href="{{asset('css/pedidos_clientes.css')}}" media="all">
{% endblock %}

{% block body %}

<div id="pedidos_clientes" class="div_main">
                        
    <h3>Listado clientes:</h3>
    <div id="pedidos_clientes_c">
            <ul class="listas_pedidos">
                {% for cliente in clientes_tienda %}
                    {% if cliente.tienda == tienda.tiendas_id %}
                        <li><a href="{{ path('pedidos', {idUsuarios : cliente.getUsuarios.idUsuarios}) }}">{{cliente.getUsuarios.nombre}} {{cliente.getUsuarios.apellidos}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>
    
    <div id="paso_paginas">
            <nav>
                <ul>
                    <li><a href="#" title="Siguiente página">Siguiente</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" title="Página anterior">Anterior</a></li>
                </ul>
            </nav>
        </div>
</div>

{% endblock %}