{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Sección Tiendas - {{tienda.nombre}}{% endblock %}

{% block stylesheets %}        
    <link rel="stylesheet" type="text/css" href="{{asset('css/seccionTiendas_X.css')}}" media="all">
{% endblock %}

{% block body %}

<div id="seccionTiendasValladolid" class="div_main_short">
    <h3>Tienda: {{tienda.nombre}}</h3>
    <ul>
        <li><a href="{{ path('listado-clientes', {tiendas_id : tienda.getTiendas_id}) }}">Listado de Clientes</a></li>
        <li><a href="{{ path('pedidos-tienda', {tiendas_id : tienda.getTiendas_id}) }}">Listado Pedidos</a></li>
        <li><a href="{{ path('listado', {tiendas_id : tienda.getTiendas_id}) }}">Listado de Productos</a></li>
        <li><a href="{{path('seccion-tiendas')}}">Volver atrás</a></li>
    </ul>
</div>

{% endblock %}