{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Área Administración{% endblock %}

{% block stylesheets %}        
    <link rel="stylesheet" type="text/css" href="{{asset('css/areaAdmin.css')}}" media="all">
{% endblock %}

{% block body %}

    <div id="areaAdmin" class="div_main_short">
                    
        <h3>PORTAL ADMINISTRACIÓN</h3>
            
        <ul>
            <li><a href="{{path('alta-tienda')}}">Alta Tiendas</a></li>
            <li><a href="{{path('gestion-empleados')}}">Gestión Empleados</a></li>
            <li><a href="{{path('gestion-catalogo-admin')}}">Gestión Catálogo</a></li>
            <li><a href="{{path('logout')}}">SALIR</a></li>
        </ul>
        
    </div>

{% endblock %}