{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Listado Empleados{% endblock %}

{% block stylesheets %}        
    <link rel="stylesheet" type="text/css" href="{{asset('css/areaAdmin.css')}}" media="all">
{% endblock %}

{% block body %}

<div id="areaAdmin" class="div_main">
                    
    <h3>PORTAL ADMINISTRACIÓN  - LISTA EMPLEADO</h3>
    <ul>
        {% for user in users %}
            {% if user.getEmpleados.getActivo == true %}
                <li>{{user.dni}} - {{user.nombre}} {{user.apellidos}} - Cargo: {{user.getEmpleados.getCargo}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <p class="atras"><a href="{{path('gestion-empleados')}}">Volver atrás</a></p>
</div>

{% endblock %}